<footer>
    <div class="container institucional">
    <h2>Institucional</h2> <br>
        <ul>
            <a href="#"><li>Quem Somos</li></a>
            <a href="#"><li>Como comprar</li></a>
            <a href="#"><li>Segurança e Privacidade</li></a>
            <a href="#"><li>Envio</li></a>
            <a href="#"><li>Pagamentos</li></a>
            <a href="#"><li>Tempo de Garantia</li></a>
            <a href="#"><li>Depoimentos de Clientes</li></a>
            <a href="#"><li>Notícias</li></a>
            <a href="#"><li>Trocas e devoluções</li></a>
            <a href="#"><li>Retirar na loja</li></a>
            <a href="#"><li>Fornecedores</li></a>
            <a href="#"><li>Fale Conosco</li></a>
        </ul>
        <br>
    </div>
    <div class="container atendimento">
    <h2>Atendimento</h2> <br>
        <p>Telefone</p>
        <p>(XX) XXXX-XXXX</p> <br>
        <p>Horários de Funcionamento Atendimento de Segunda a Sexta das 08h às 18h.</p>
    <br>
    </div>
    <div class="container pagamentos">
    <h2>Formas de Pagamentos</h2> <br>
        <img src="/assets/img/boleto.png" alt="">
        <img src="/assets/img/itau.png" alt="">
        <img src="/assets/img/bradesco.png" alt="">
        <img src="/assets/img/BB.png" alt="">
        <div class="pagamentos-pt-2">
            <img src="/assets/img/Visa.png" alt="">
            <img src="/assets/img/Mastercard.png" alt="">
            <img src="/assets/img/nao_conheço.png" alt="">
            <img src="/assets/img/american_express.png" alt="">
        </div>
    </div>
    <br>
    <div class="container selos">
    <h2>Selo de Segurança</h2> <br>
        <img src="/assets/img/selo_segurança.png" alt="">
        <img src="/assets/img/selo_segurança_2.png" alt="">
    </div>    
</footer>